@use './devices.scss';
@use './media.scss';

//@include lets you import mixins
//////////////////////////////////////////////////////////////////////////
/// 
.mainBody{
    @include media.phone {
        padding: 55px
    }
}
.header{

    @include media.phone {
        ul{
            display:none;
        }
        .header__socials{
            z-index: 2;
            display: block;
            margin-right: 20px;
            filter: brightness(0) saturate(100%) invert(41%) sepia(100%) saturate(5028%) hue-rotate(265deg) brightness(101%) contrast(106%);
           
            img{
                width: 30px
            }
        }
    }
    @include media.large-phone {
        ul{
            padding: 0px 0px;
            font-size: 14px;
        }
    }

    @include media.tablet-landscape {
         
    }

    @include media.laptop {
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    } 
}
/////////////////////////////////////////////////////////////////////////
.homeSection{
    @include media.phone {
        &__image{
            display:none;
        }
        .sideicon{
            display: none;
        }
        .musicwave{
            display: block;
        }
        h1{
            font-size: 50px;
            width: 200px;
        }
        p{
            text-align:end
        }

        a{
            font-size: 18px;
            margin-top: 20px;
        }
        &__text{
            padding-right: 0px;
        }
        .home--scroll{
            padding-top: 0px;
        }
    }

    @include media.large-phone {

        img{
            max-width: 200px;
            max-height: 200px;
        }
    
        &__text{
            font-size: 12px;
            

        }

        h1{
            font-size: 28px;
        }

        &__scroll{
            padding-top: 50px;
        }

    }
    @include media.tablet {
        img{
            max-width: 250px;
            max-height: 250px;
        }

        &__text{
            font-size: 12px;
            padding-right: 20px;

        }

        h1{
            font-size: 28px;
        }

        
    }

    @include media.tablet-landscape {

        img{
            max-width: 250px;
            max-height: 250px;
        }

        &__text{
            font-size: 12px;
            padding-right: 20px;

        }

        h1{
            font-size: 28px;
        }

        &__scroll{
            padding-top: 50px;
            font-size: 10px;
        }
         
    }

    @include media.laptop {

        img{
            max-width: 350px;
            max-height: 350px;
        }

        &__text{
            font-size: 16px;
            padding-right: 20px;

        }

        h1{
            font-size: 42px;
        }

        &__scroll{
            padding-top: 50px;
        }
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    }
    
}
//////////////////////////////////////////////////////////////////////////
.skillsSection{
    @include media.phone {
    &__heading{
        font-size: 24px;
    }
    h2{
        margin: 0px;
    }
    &__text{
        font-size: 11px;
        line-height: 150%;
        text-align: justify;
        margin: 0px;
    }
    img{
        width:60px;
        height:100px
    }
    &__textWrapper{
        flex-direction: column;
        gap: 0px;
    }
}

    @include media.tablet {



    &__heading{
        font-size: 20px;
    }

    &__text{
        font-size: 14px;
        line-height: 150%;
    }
        
        
    }

    @include media.tablet-landscape {
         
    }

    @include media.laptop {
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    }
    

}
//////////////////////////////////////////////////////////////////////////
.portfolioSection{

    @include media.phone {
        &__heading{
            font-size: 24px;
            span{
                font-size: 28px;
            }
        }
        .imageGrid
        {
            display:grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-areas: 'One'
                                 'Two'
                                 'Three';
            gap: 50px;
        }
        img{
            width: 260px;
            height:180px;
        }
        &__imageGrid{
            &--projectFour{
                display: none;
            }
            &--projectFive{
                display: none;
            }
            &--projectSix{
                display: none;
            }
        }
    }

    @include media.large-phone {

        &__heading{
            font-size: 20px;
        }

        .imageGrid
        {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'One Two'
                                 'Three Four';
            gap: 30px;
            
            }

        img{
            width: 180px;
            height: 120px;
        }
        
        
    }

    @include media.tablet {

        &__heading{
            font-size: 20px;
        }

        .imageGrid
        {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'One Two'
                                 'Three Four';
            gap: 50px;
            
            }

        img{
            width: 260px;
            height: 170px;
        }
        
        
    }

    @include media.tablet-landscape {

        .imageGrid
        {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'One Two'
                                 'Three Four';
            gap: 50px;
            
            }

        img{
            width: 260px;
            height: 170px;
        }
         
    }

    @include media.laptop {

        .imageGrid
        {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'One Two'
                                 'Three Four';
            gap: 50px;
            
            }

        img{
            width: 380px;
            height: 270px;
        }
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    }


}
//////////////////////////////////////////////////////////////////////////
.contactSection{

    @include media.phone {
        div{
            padding: 40px;
            margin:0px
        }
        &__contactBox{
            &--heading{
                font-size: 20px;
                text-align: center;
            }
            &--text{
                font-size: 12px;
            }
            a{
                font-size: 14px;
            }
        }
    }

    @include media.tablet {

        padding: 60px;
        div{
            padding: 40px 50px;
            margin: 20px;

        }

        &__contactBox{

            padding: 30px 75px;
            margin: 0px;

            &--heading{
                font-size: 22px;
            }

            &--text{
                font-size: 14px;
            }

        }
        
    }

    @include media.tablet-landscape {
         
    }

    @include media.laptop {
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    }   

}
//////////////////////////////////////////////////////////////////////////
.aboutSection{

    @include media.phone {

        h2{
            font-size: 24px;
        }

        button{
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 20px;
            
            &--para{
                display: none;
                font-size: 12px;
            }

            h3{
                font-size: 12px;
                text-align: center;
                align-self: center;
            }
        }
        ul{
            font-size: 10px;
            margin: 0px;
        }



    }

    @include media.tablet {

        padding: 60px;
        div{
            padding: 40px 50px;
            margin: 20px;

        }

        &__contactBox{

            padding: 30px 75px;
            margin: 0px;

            &--heading{
                font-size: 22px;
            }

            &--text{
                font-size: 14px;
            }

        }
        
    }

    @include media.tablet-landscape {
         
    }

    @include media.laptop {
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    } 

}
//////////////////////////////////////////////////////////////////////////
.footer{

    @include media.phone {
        .footer__right{
            font-size: 40px;
        }

        
        


    }

    @include media.tablet {

        padding: 60px;
        div{
            padding: 40px 50px;
            margin: 20px;

        }

        &__contactBox{

            padding: 30px 75px;
            margin: 0px;

            &--heading{
                font-size: 22px;
            }

            &--text{
                font-size: 14px;
            }

        }
        
    }

    @include media.tablet-landscape {
         
    }

    @include media.laptop {
         
    }

    @include media.desktop {
        

    }

    @include media.large-screen{
        

    } 

}



