@media screen and (max-width: 576px) {
  .mainBody {
    padding: 55px;
  }
}

@media screen and (max-width: 576px) {
  .header ul {
    display: none;
  }
  .header .header__socials {
    z-index: 2;
    display: block;
    margin-right: 20px;
    filter: brightness(0) saturate(100%) invert(41%) sepia(100%) saturate(5028%) hue-rotate(265deg) brightness(101%) contrast(106%);
  }
  .header .header__socials img {
    width: 30px;
  }
}
@media screen and (min-width: 577px) and (max-width: 734px) {
  .header ul {
    padding: 0px 0px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .homeSection__image {
    display: none;
  }
  .homeSection .sideicon {
    display: none;
  }
  .homeSection .musicwave {
    display: block;
  }
  .homeSection h1 {
    font-size: 50px;
    width: 200px;
  }
  .homeSection p {
    text-align: end;
  }
  .homeSection a {
    font-size: 18px;
    margin-top: 20px;
  }
  .homeSection__text {
    padding-right: 0px;
  }
  .homeSection .home--scroll {
    padding-top: 0px;
  }
}
@media screen and (min-width: 577px) and (max-width: 734px) {
  .homeSection img {
    max-width: 200px;
    max-height: 200px;
  }
  .homeSection__text {
    font-size: 12px;
  }
  .homeSection h1 {
    font-size: 28px;
  }
  .homeSection__scroll {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .homeSection img {
    max-width: 250px;
    max-height: 250px;
  }
  .homeSection__text {
    font-size: 12px;
    padding-right: 20px;
  }
  .homeSection h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .homeSection img {
    max-width: 250px;
    max-height: 250px;
  }
  .homeSection__text {
    font-size: 12px;
    padding-right: 20px;
  }
  .homeSection h1 {
    font-size: 28px;
  }
  .homeSection__scroll {
    padding-top: 50px;
    font-size: 10px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1348px) {
  .homeSection img {
    max-width: 350px;
    max-height: 350px;
  }
  .homeSection__text {
    font-size: 16px;
    padding-right: 20px;
  }
  .homeSection h1 {
    font-size: 42px;
  }
  .homeSection__scroll {
    padding-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .skillsSection__heading {
    font-size: 24px;
  }
  .skillsSection h2 {
    margin: 0px;
  }
  .skillsSection__text {
    font-size: 11px;
    line-height: 150%;
    text-align: justify;
    margin: 0px;
  }
  .skillsSection img {
    width: 60px;
    height: 100px;
  }
  .skillsSection__textWrapper {
    flex-direction: column;
    gap: 0px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .skillsSection__heading {
    font-size: 20px;
  }
  .skillsSection__text {
    font-size: 14px;
    line-height: 150%;
  }
}
@media screen and (max-width: 576px) {
  .portfolioSection__heading {
    font-size: 24px;
  }
  .portfolioSection__heading span {
    font-size: 28px;
  }
  .portfolioSection .imageGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "One" "Two" "Three";
    gap: 50px;
  }
  .portfolioSection img {
    width: 260px;
    height: 180px;
  }
  .portfolioSection__imageGrid--projectFour {
    display: none;
  }
  .portfolioSection__imageGrid--projectFive {
    display: none;
  }
  .portfolioSection__imageGrid--projectSix {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 734px) {
  .portfolioSection__heading {
    font-size: 20px;
  }
  .portfolioSection .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "One Two" "Three Four";
    gap: 30px;
  }
  .portfolioSection img {
    width: 180px;
    height: 120px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .portfolioSection__heading {
    font-size: 20px;
  }
  .portfolioSection .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "One Two" "Three Four";
    gap: 50px;
  }
  .portfolioSection img {
    width: 260px;
    height: 170px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .portfolioSection .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "One Two" "Three Four";
    gap: 50px;
  }
  .portfolioSection img {
    width: 260px;
    height: 170px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1348px) {
  .portfolioSection .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "One Two" "Three Four";
    gap: 50px;
  }
  .portfolioSection img {
    width: 380px;
    height: 270px;
  }
}
@media screen and (max-width: 576px) {
  .contactSection div {
    padding: 40px;
    margin: 0px;
  }
  .contactSection__contactBox--heading {
    font-size: 20px;
    text-align: center;
  }
  .contactSection__contactBox--text {
    font-size: 12px;
  }
  .contactSection__contactBox a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .contactSection {
    padding: 60px;
  }
  .contactSection div {
    padding: 40px 50px;
    margin: 20px;
  }
  .contactSection__contactBox {
    padding: 30px 75px;
    margin: 0px;
  }
  .contactSection__contactBox--heading {
    font-size: 22px;
  }
  .contactSection__contactBox--text {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .aboutSection h2 {
    font-size: 24px;
  }
  .aboutSection button {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }
  .aboutSection button--para {
    display: none;
    font-size: 12px;
  }
  .aboutSection button h3 {
    font-size: 12px;
    text-align: center;
    align-self: center;
  }
  .aboutSection ul {
    font-size: 10px;
    margin: 0px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .aboutSection {
    padding: 60px;
  }
  .aboutSection div {
    padding: 40px 50px;
    margin: 20px;
  }
  .aboutSection__contactBox {
    padding: 30px 75px;
    margin: 0px;
  }
  .aboutSection__contactBox--heading {
    font-size: 22px;
  }
  .aboutSection__contactBox--text {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .footer .footer__right {
    font-size: 40px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 768px) {
  .footer {
    padding: 60px;
  }
  .footer div {
    padding: 40px 50px;
    margin: 20px;
  }
  .footer__contactBox {
    padding: 30px 75px;
    margin: 0px;
  }
  .footer__contactBox--heading {
    font-size: 22px;
  }
  .footer__contactBox--text {
    font-size: 14px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  cursor: url("./media/cursor.cur") 25 15, crosshair;
}

a {
  text-decoration: none;
  color: #B026FF;
}

main {
  color: #E6E6E6;
  background-color: #1a1a1d;
  padding: 80px;
}

.header {
  background-color: #1a1a1d;
  margin: 0px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.header__list {
  list-style-type: none;
  display: flex;
  padding: 0px 30px;
  z-index: 2;
}
.header__list--link {
  text-decoration: none;
  color: #E6E6E6;
  transition: 0.3s;
}
.header__list--link:hover {
  transform: scale(1.15);
}
.header__socials {
  display: none;
}
.header__logo {
  font-size: 50px;
  color: #B026FF;
  padding: 0px 50px;
  z-index: 2;
}

.homeSection {
  background-color: #1a1a1d;
  display: flex;
  justify-content: space-around;
}
.homeSection__text {
  font-family: "Kode Mono", monospace;
  line-height: 200%;
  z-index: 2;
}
.homeSection__title {
  font-size: 50px;
  line-height: 150%;
}
.homeSection__title--colouredText {
  color: #B026FF;
}
.homeSection__image {
  max-width: 450px;
  max-height: 450px;
  z-index: 2;
}
.homeSection__sidebar {
  background-color: #B026FF;
  position: fixed;
  right: 0;
  top: 15%;
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
  z-index: 2;
}
.homeSection__scroll {
  color: #B026FF;
  padding-top: 40px;
  font-size: 22px;
  z-index: 2;
}
.homeSection__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.homeSection__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.homeSection .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1d;
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid #B026FF;
}

.skillsSection {
  background-color: #1a1a1d;
  padding: 80px 0px;
}
.skillsSection__imgGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
.skillsSection .highlight {
  color: #B026FF;
  font-family: "Kode Mono", monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}
.skillsSection .skilldiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skillsSection__textWrapper {
  display: flex;
  gap: 40px;
  font-family: "Kode Mono", monospace;
  padding-bottom: 50px;
  line-height: 200%;
}
.skillsSection__img {
  z-index: 2;
}
.skillsSection__img--git {
  grid-area: git;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--html {
  grid-area: html;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--css {
  grid-area: css;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--js {
  grid-area: js;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--scss {
  grid-area: scss;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--bem {
  grid-area: bem;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--react {
  grid-area: react;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--java {
  grid-area: java;
  place-self: center;
  font-family: "Kode Mono", monospace;
}
.skillsSection__img--spring {
  grid-area: spring;
  place-self: center;
  font-family: "Kode Mono", monospace;
}

.portfolioSection {
  background-color: #1a1a1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.portfolioSection__heading {
  font-family: "Kode Mono", monospace;
  line-height: 200%;
}
.portfolioSection__heading--work {
  color: #B026FF;
  font-size: 28px;
}
.portfolioSection__imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "One Two Three" "Four Five Six";
  gap: 80px;
}
.portfolioSection__image {
  z-index: 2;
  margin: auto;
}
.portfolioSection__image--projectOne {
  display: flex;
  flex-direction: column;
  grid-area: One;
  align-self: center;
  justify-self: center;
}
.portfolioSection__image--projectTwo {
  grid-area: Two;
  align-self: center;
  justify-self: center;
}
.portfolioSection__image--projectThree {
  grid-area: Three;
  align-self: center;
  justify-self: center;
}
.portfolioSection__image--projectFour {
  grid-area: Four;
  align-self: center;
  justify-self: center;
}
.portfolioSection__image--projectFive {
  grid-area: Five;
  align-self: center;
  justify-self: center;
}
.portfolioSection__image--projectSix {
  grid-area: Six;
  align-self: center;
  justify-self: center;
}
.portfolioSection__text {
  font-family: "Kode Mono", monospace;
  padding-top: 10px;
}
.portfolioSection__buttons {
  font-size: 11px;
  color: #E6E6E6;
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}
.portfolioSection__buttons a {
  color: #E6E6E6;
  font-family: "Kode Mono", monospace;
  border: 2px solid #B026FF;
  box-shadow: 0px 0px 10px #B026FF;
  border-radius: 10px;
  padding: 5px;
}

.contactSection__contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  margin: 50px;
  background-color: #1e1e1e;
  border: 3px solid #B026FF;
  box-shadow: 0px 0px 10px #B026FF;
}
.contactSection__contactBox--heading {
  font-family: "Kode Mono", monospace;
}
.contactSection__contactBox--text {
  font-family: "Kode Mono", monospace;
  line-height: 200%;
  padding-bottom: 20px;
  text-align: center;
}
.contactSection__contactBox--button {
  z-index: 2;
  background-color: #1a1a1d;
  color: #E6E6E6;
  border: 3px solid #B026FF;
  box-shadow: 0px 0px 10px #B026FF;
  border-radius: 20px;
  font-family: "Kode Mono", monospace;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.contactSection__contactBox--button:hover {
  transform: scale(1.1);
}

.aboutSection {
  background-color: #1a1a1d;
  padding: 80px 0px;
  font-family: "Kode Mono", monospace;
  line-height: 200%;
  display: flex;
  flex-direction: column;
}
.aboutSection__heading {
  margin-bottom: 60px;
}
.aboutSection__button {
  z-index: 2;
  background-color: #1a1a1d;
  font-family: "Kode Mono", monospace;
  color: #E6E6E6;
  margin: 20px 50px;
  border: 3px solid #B026FF;
  box-shadow: 0px 0px 10px #B026FF;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}
.aboutSection__button--list {
  margin: 0px 80px;
  list-style-type: "> ";
}
.aboutSection__button--para {
  display: none;
}
.aboutSection__button:hover {
  transform: scale(1.02);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "VT323", monospace;
  background-color: #B026FF;
}
.footer__right {
  font-size: 50px;
  color: #1a1a1d;
  padding: 10px 50px;
}
.footer__left {
  color: #1a1a1d;
  padding: 0px 50px;
}

.stars {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.star {
  position: absolute;
  background-color: #B026FF;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgba(133, 25, 186, 0.8), 0 0 60px rgba(195, 0, 255, 0.6);
  animation: blink 3s infinite ease-in-out alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.musicSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
  margin-top: 20px;
}

.musicSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1d;
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid #B026FF;
}

.icon {
  position: absolute;
  color: #E6E6E6;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 34px;
  width: 50%;
  text-align: center;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.icon-off {
  left: 1px;
}

.icon-on {
  right: 1px;
  opacity: 0;
}
.icon-on img {
  width: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: #1a1a1d;
  border: 2px solid #B026FF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  box-shadow: 0 0 20px #B026FF;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

input:checked + .slider .icon-off {
  opacity: 0;
}

input:checked + .slider .icon-on {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
