@import './gallery.scss';

$backgroundColor: #1a1a1d;
$primaryText: #E6E6E6;
$purpleNeon: #B026FF;
$font1: "Kode Mono", monospace;
$font2: "VT323", monospace;
$secondaryColour:#1e1e1e;
html{
    scroll-behavior: smooth;

}

body{
    margin: 0px;
    padding: 0px;
    cursor: url("./media/cursor.cur") 25 15, crosshair;
}

a{
    text-decoration: none;
    color: $purpleNeon;
}

main{
    color: $primaryText;
    background-color: $backgroundColor;
    padding: 80px;
}

.header{
    background-color: $backgroundColor;
    margin: 0px;
    font-family: $font2;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    
    &__list{
        list-style-type: none;
        display: flex;
        padding: 0px 30px;
        z-index: 2;

        &--link{
            text-decoration: none;
            color: $primaryText;
            transition: 0.3s;
        } 
        &--link:hover{
            transform: scale(1.15);
        }
    }
    &__socials{
        display: none;
    }

    &__logo{
        font-size: 50px;
        color: $purpleNeon;
        padding: 0px 50px;
        z-index: 2;
    }
    

}

.homeSection{
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-around;

    &__text{
        font-family: $font1;
        line-height: 200%;
        z-index: 2;
    }

    &__title{
        font-size: 50px;
        line-height: 150%;

        &--colouredText{
            color: $purpleNeon;
        }

    }

    &__image{
        max-width: 450px;
        max-height:450px;
        z-index: 2;
    }

    &__sidebar{
        background-color: $purpleNeon;
        position: fixed;
        right: 0;
        top: 15%;
        height: 200px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-content: center;
        z-index: 2;
        
    }

    &__scroll{
        color: $purpleNeon;
        padding-top: 40px;
        font-size: 22px;
        z-index: 2;
       
        
    }
    &__switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    &__switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $backgroundColor;
        transition: .4s;
        border-radius: 34px;
        border: 2px solid $purpleNeon;
    }
}

.skillsSection{
    background-color: $backgroundColor;
    padding: 80px 0px;

    &__imgGrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap:25px;
    }

    .highlight{
        color: $purpleNeon;
        font-family: $font1;
        font-weight: bold;
        text-align: center;
        margin-top: 0px;
    }

    .skilldiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__textWrapper{
        display: flex;
        gap: 40px;
        font-family: $font1;
        padding-bottom: 50px;
        line-height: 200%;
    }

    &__img{
        z-index: 2;
        &--git{
            grid-area: git;
            place-self: center;
            font-family: $font1;
        }
        &--html{
            grid-area: html;
            place-self: center;
            font-family: $font1;
        }
        &--css{
            grid-area: css;
            place-self: center;
            font-family: $font1;
        }
        &--js{
            grid-area: js;
            place-self: center;
            font-family: $font1;
        }
        &--scss{
            grid-area: scss;
            place-self: center;
            font-family: $font1;
        }
        &--bem{
            grid-area: bem;
            place-self: center;
            font-family: $font1;
        }
        &--react{
            grid-area: react;
            place-self: center;
            font-family: $font1;
        }
        &--java{
            grid-area: java;
            place-self: center;
            font-family: $font1;
        }
        &--spring{
            grid-area: spring;
            place-self: center;
            font-family: $font1;
        }

    }

}

.portfolioSection{
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    &__heading{
        font-family: $font1;
        line-height: 200%;
        &--work{
            color: $purpleNeon;
            font-size: 28px;
        }
    }


    &__imageGrid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 'One Two Three'
                         'Four Five Six';
    gap: 80px;
    
    }
    
    &__image{
        z-index: 2;
        margin:auto;

        &--projectOne{
            display: flex;
            flex-direction: column;
            grid-area: One;
            align-self: center;
            justify-self: center;
            
        }
        &--projectTwo{
            grid-area: Two;
            align-self: center;
            justify-self: center;
        }
        &--projectThree{
            grid-area: Three;
            align-self: center;
            justify-self: center;
        }
        &--projectFour{
            grid-area: Four;
            align-self: center;
            justify-self: center;
        }
        &--projectFive{
            grid-area: Five;
            align-self: center;
            justify-self: center;
        }
        &--projectSix{
            grid-area: Six;
            align-self: center;
            justify-self: center;
        }

    }

    &__text{
        font-family: $font1;
        padding-top: 10px;
    }

    &__buttons{
        font-size: 11px;
        color: $primaryText;
        display: flex;
        gap: 10px;
        margin: 10px 0px;
    

        a{
            color: $primaryText;
            font-family: $font1;
            border: 2px solid $purpleNeon;
            box-shadow: 0px 0px 10px $purpleNeon;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.contactSection{

    &__contactBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 100px;
        margin: 50px;
        background-color: $secondaryColour;
        border: 3px solid $purpleNeon;
        box-shadow: 0px 0px 10px $purpleNeon;

        &--heading{
            font-family: $font1;
        }

        &--text{
            font-family: $font1;
            line-height: 200%;
            padding-bottom: 20px;
            text-align: center;
        }

        &--button{
            z-index: 2;
            background-color: $backgroundColor;
            color: $primaryText;
            border: 3px solid $purpleNeon;
            box-shadow: 0px 0px 10px $purpleNeon;
            border-radius: 20px;
            font-family: $font1;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s;
        }
        &--button:hover{
            transform: scale(1.10);
        }

    }
}

.aboutSection{
    background-color: $backgroundColor;
    padding: 80px 0px;
    font-family: $font1;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    &__heading{
        margin-bottom: 60px;
    }

    &__button{
        z-index: 2;
        background-color: $backgroundColor;
        font-family: $font1;
        color: $primaryText;
        margin: 20px 50px;
        border: 3px solid $purpleNeon;
        box-shadow: 0px 0px 10px $purpleNeon;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px;
        border-radius: 20px;
        transition: ease-in-out .3s;
        &--list{
            margin: 0px 80px;
            list-style-type: "> ";
        }
        &--para{
            display: none;
        }
    }
    &__button:hover{
        transform: scale(1.02);
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: $font2;
    background-color: $purpleNeon;
    &__right{
        font-size: 50px;
        color: $backgroundColor;
        padding: 10px 50px;
    }
    &__left{
        color: $backgroundColor;
        padding: 0px 50px;
    }
}

.stars{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.star{
    position: absolute;
    background-color: $purpleNeon;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgba(133, 25, 186, 0.8), 0 0 60px rgba(195, 0, 255, 0.6);
    animation: blink 3s infinite ease-in-out alternate;
}

@keyframes blink{
    0%{
        opacity: 0;
        transform: scale(0.5);
        
    }
    100%{
        opacity: 1;
        transform: scale(1);

    }
}

.musicSwitch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    margin-top: 20px;
}
.musicSwitch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $backgroundColor;
    transition: .4s;
    border-radius: 34px;
    border: 2px solid $purpleNeon;
}
.icon{
    position: absolute;
    color: $primaryText;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 34px;
    width: 50%;
    text-align: center;
    transition: opacity 0.4s ease;
    pointer-events: none;
}
.icon-off{
    left:1px;
}
.icon-on{
    right:1px;
    opacity: 0;
    img{
        width: 24px;
    }
    
}

.slider::before{
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: $backgroundColor;
    border: 2px solid $purpleNeon;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider{
    box-shadow: 0 0 20px $purpleNeon;
}
input:checked + .slider:before{
    transform: translateX(24px);
}
input:checked + .slider .icon-off{
    opacity: 0;
}
input:checked + .slider .icon-on{
    opacity: 1;
}




